<footer class="w-full bg-white border-t">
  <div class="container mx-auto px-6 py-3 flex justify-center space-x-8">

    <a href="https://github.com/aesuf"
       class="text-gray-700 hover:opacity-60 transition">
      <i class="bi bi-github text-2xl"></i>
    </a>

    <a href="mailto:aesufl@gmail.com"
       class="text-gray-700 hover:opacity-60 transition">
      <i class="bi bi-envelope text-2xl"></i>
    </a>

    <a href="https://discord.gg/UuUnhs2dqf"
       class="text-gray-700 hover:opacity-60 transition">
      <i class="bi bi-discord text-2xl"></i>
    </a>

  </div>
  <script>
    function toggleNav() {
      const hamburger = document.getElementById("hamburgerbtn");
      const overlay = document.getElementById("overlay");
      const body = document.body;

      hamburger.addEventListener("click", function () {
        overlay.classList.toggle("open");
        hamburger.classList.toggle("is-open");
        body.classList.toggle("scroll-lock");
      });
    }
    toggleNav();

    document.querySelector('.scroll-top').addEventListener('click', () => {
      document.documentElement.scrollTop = 0;
    });
  </script>
</footer>